
<h2>Create An Employee</h2>


<form action="Result"> 

  
    <p>Name:</p>
    <input required maxlength="20" type="text" name="Name" />


    <p>Hours Available:</p>
    <input type="number" name="HoursAvailible" />


    <p>Title:</p>
    <input type="text" name="Title" />

    <input type="submit" />

</form>


